.container{
    width: 80%;
    margin:auto;
    overflow:hidden;
}

#button-shadow{
    border-radius: 5px ;
    box-shadow: 2px 3px gray;
}

#button-shadow button:hover{
    border-radius: 5px;
    width: 105%;
    height: auto;
    box-shadow: 4px 5px gray;
}